<h2>Ajouter un document AudioBank</h2>
<p>Episode: <%= @episode.title %></p>

<%= simple_form_for [:admin, @show, @episode, @audiobank_content ] do |f| %>
  <%= f.input :name %>
  <%= f.input :slug if @audiobank_content.new_record? %>

  <%= f.input :principal %>

  <%= f.input :audiobank_id %>
  <%= f.input :create_document, :as => :boolean %>

  <%= f.button :submit, :cancel => admin_show_path(@show) %>
<% end %>
