<h2>Ajouter un son sur le net</h2>
<p>Episode: <%= @episode.title %></p>

<%= simple_form_for [:admin, @show, @episode, @net_content ] do |f| %>
  <%= f.input :name %>
  <%= f.input :slug if @net_content.new_record? %>

  <%= f.input :principal %>

  <%= f.input :url %>
  <%= f.input :duration %>

  <%= f.button :submit, :cancel => admin_show_path(@show) %>
<% end %>
