<h2>Nouvelle actualité</h2>
<p>Emission: <%= @post.show.name %></p>

<% form_for([:admin, @post.show, @post]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title, "Titre" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :slug, "Lien" %><br />
    <%= f.text_field :slug %>
  </p>

  <%= observe_field 'post_title', :url => slug_admin_show_posts_path,
    :with => 'name', :frequency => 2 %>

  <p>
    <%= f.label :description, "Contenu" %><br />
    <%= textile_editor 'post', 'description', :rows => 20, :cols => 60 -%></p>
  </p>
  <p>
    <%= f.submit "Créer" %>
    <%= link_to 'annuler', admin_show_posts_path(@post.show) %>
  </p>

  <%= textile_editor_initialize -%>
<% end %>
