<h2>Créez un compte Bonnes-Ondes</h2>

<%= simple_form_for @user, :url => admin_signup_path do |f| %>
  <%= f.input :login %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <%= f.button :submit, :cancel => :back %>
<% end %>
