<h2>Ajouter une image</h2>
<p>Emission: <%= @image.show.name %></p>

<%= simple_form_for [:admin, @show, @image], :html => { :multipart => true } do |f| %>
  <%= f.input :title %>
  <%= f.input :content, :as => :file %>
  <%= f.button :submit, :cancel => admin_show_images_path(@show) %>
<% end %>
