<%= error_messages_for(:episode) %>

<h2>Modifier un épisode</h2>
<p>Emission: <%= @episode.show.name %></p>

<% form_tag([:admin, @show, @episode], :method => :put) do %>
 <p><label for="episode_title">Titre :</label><br/>
 <%= text_field("episode", "title", :size => 60) %></p>

 <p><label for="episode_order">Numéro :</label><br/>
 <%= text_field("episode", "order", :size => 3) %></p>

 <p><label for="episode_description">Description :</label><br/>
 <%= textile_area 'episode', 'description', :disable => :image -%></p>

 <p><label for="episode_tag_list">Etiquettes :</label><br/>
 <%= text_field 'episode', 'tag_list', :size => 60 -%></p>
 <div class="hint">séparés par des virgules</div>

 <p><label for="episode_broadcasted_at">Date de diffusion :</label><br/>
 <%= datetime_select 'episode', 'broadcasted_at', :order => [ :day, :month, :year ], :minute_step => 15 -%></p>

 <%= submit_tag "Modifier" %> ou <%= link_to("revenir", :action => "show", :id => @episode ) %>
<% end %>
