<h2><%= @episode.show.name %> - <%= @episode.title %></h2>
<div class="description">
<%= image_tag @episode.image.admin_preview_url if @episode.image %>
<%= textilize(@episode.description) %>
</div>


<p>
  <% if @episode.broadcasted_at %>diffusé <%= format_date(@episode.broadcasted_at) %>,<br/><% end %>
  créé <%= format_date(@episode.created_at) %>, modifié <%= format_date(@episode.updated_at) %>
</p>

<div class="tags">
  Etiquettes : <%= @episode.tag_list.join(', ') %>
</div>

<div class="actions">
<%= link_to("Voir", episode_url(@episode), :class => "view", :target => :blank) %>
<%= link_to("Modifier", edit_admin_show_episode_path(@show, @episode), :class => "edit") %>
<%= link_to("Image", edit_admin_show_episode_image_path(@show, @episode), :class => "edit") %>
<%= link_to("Supprimer", admin_show_episode_path(@show, @episode), :method => :delete, :confirm => "Etes-vous sûr de vouloir définitivement supprimer cet épisode ?", :class => "destroy") %>
</div>

<h3>Contenu</h3>

<% unless @episode.contents.empty? %>
  <ul>
    <% for content in @episode.contents %>
      <li>
        <h4><%= link_to content.name, content_url(content, :format => :mp3) %></h4>
        <p>
          <%= content.slug %> -
          <% if content.principal? %>Principal -<% end %>
          Durée
          <% if content.has_duration? %>
            <%= content.duration %> minutes
          <% else %>
            inconnue
          <% end %>

          <% if AudiobankContent === content %>
          - Document <%= content.audiobank_id %>
          <% end %>
        </p>
        <div class="details">
          <span class="created_at">créé <%= format_date(content.created_at) %></span>
        </div>
        <div class="actions">
          <%= link_to("Ecouter", admin_show_episode_content_path(@show, @episode, content, :format => "m3u")) if content.ready? %>
          <%= link_to("Voir dans AudioBank", content.document_url, :target => :blank) if AudiobankContent === content %>
          <%= link_to "Supprimer", admin_show_episode_content_path(@show, @episode, content), :method => :delete, :confirm => "Etes-vous sûr de vouloir définitivement supprimer ce contenu ?", :class => "destroy" %>
        </div>
      </li>
    <% end %>
  </ul>
  <p>
    Vous pouvez ajouter plusieurs sons, par exemple, pour présenter des extraits.
  </p>
<% else %>
<p>
  Vous pouvez associer un ou plusieurs sons à cet épisode.
</p>
<% end %>

<div class="actions">
  <%= link_to "Ajouter un document AudioBank", new_admin_show_episode_audiobank_content_path(@episode.show, @episode) if @episode.audiobank_enabled? %>
  <%= link_to "Ajouter un son sur le net", new_admin_show_episode_net_content_path(@episode.show, @episode) %>
</div>
